:root {
    --main-color:#2F303A ;
    --akcent-color:#2196F3;
    --font-dark: #212121 ;
    --font-middle:#757575 ;
    --font-light: #F5F4FA;
    --color-black: #000000;
    --color-white: #FFFFFF;

}
body{
    font-family: 'Roboto';
    color: var(--font-dark);
    font-style: normal;
    text-decoration: none;
}
/*логотип*/
.webstudio{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-black);
    text-decoration: none;
}

.web{
    color: var(--akcent-color);
}

/*верхняя линия навигация*/
.nav-one,
.about-us,
.our-works,
.our-time,
.adress,
.projects{
    list-style: none;
}

.link,
.link-cont {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--font-dark);
    text-decoration: none;
}

.link-cont{
    color: var(--font-middle);
}

.link:hover,
.link-cont:hover {
    color: var(--akcent-color);
}
.link:focus,
.link-cont:focus {
    color: var(--akcent-color);
}

.link.curret {
    color:var(--akcent-color);
}

/*шапка*/
.banner{
    background-color: var(--main-color);
}

.title-banner {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.button-order{
    background: var(--akcent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;    
    letter-spacing: 0.06em;
    justify-content: center; 
}
.button-order:hover{
    background-color: #188CE8;
    color: var(--color-white);
    cursor: pointer;
}

.text-order{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white);
}

/* особенности о нас*/
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-dark);
}

.about-us-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--font-dark);
}
.text-about-us {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--font-middle);
}

.team{
    background-color: var(--font-light);
}

.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-dark);
}
.position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-middle);

}

.card{
    background-color: var(--color-white);
}

/*footer*/
.footer{
    background-color: var(--main-color);
}

.studio-white{
    color: var(--color-white);
}

.footer-tel,
.footer-mail,
.footer-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    color: var(--color-white);

}

.footer-mail,
.footer-tel {
    color: rgba(255, 255, 255, 0.6); 
}
.filters{

}
.filter{
    background-color: var(--font-light);
    color: var(--font-dark);
}

.filter:hover{
    background-color: var(--akcent-color);
    color: var(--color-white);
    cursor: pointer;
}

.filter:focus{
    background-color: var(--akcent-color);
    color: var(--color-white);
    cursor: pointer;
}

.projects{
    display: inline;

}

.work-examples{
    text-decoration: none;
    color: var(--font-dark);

}

.work-ex-name  {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--font-dark);
}

.work-ex-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--font-middle);
}