:root {
    --main-color:#2F303A ;
    --akcent-color:#2196F3;
    --font-dark: #212121 ;
    --font-middle:#757575 ;
    --font-light: #F5F4FA;
    --color-black: #000000;
    --color-white: #FFFFFF;

}

h1, h2, h3, p, ul, a, li {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto';
    color: var(--font-dark);
    font-style: normal;
    text-decoration: none;
    max-width: 1600px;
    padding: 94px  15px;   
}
.conteiner {
    width: 1200px;
    margin-left:auto;
    margin-right: auto;;
}

.header{
    border-bottom: 1px solid #ECECEC;
}
/*логотип*/

.conteiner-header{
    display: flex;
    padding: 0;
}

.webstudio{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-black);
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 24px;
}

.web{
    color: var(--akcent-color);
}

.nav{
    display: flex;
    margin-left: 93px;
    margin-right: 331px;
    margin-top: 32px;
}
.nav-two{
    margin-top: 32px;
}


/*верхняя линия навигация*/
.nav-one,
.nav-two,
.about-us,
.our-works,
.our-time,
.adress,
.projects{
    list-style: none;
}

.nav-one,
.nav-two,
.about-us,
.our-works,
.our-time,
.projects{
    display: flex;
}

.link,
.link-cont {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--font-dark);
    text-decoration: none;
    margin-right: 50px;
    margin-top: 32px;
}

.link-cont{
    color: var(--font-middle);
}

.link:hover,
.link-cont:hover {
    color: var(--akcent-color);
}
.link:focus,
.link-cont:focus {
    color: var(--akcent-color);
}

.link.curret {
    color:var(--akcent-color);
}

/*шапка*/
.banner{
    background-color: var(--main-color);
}

.title-banner {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding-left: 46px;
    padding-right: 46px;
    margin-top: 200px;
    margin-bottom: 30px;
    margin-left: 452px;
    margin-right: 452px;
}

.button-order{
    background: var(--akcent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;    
    letter-spacing: 0.06em;
    justify-content: center;
    width: 200px;
    height: 50px; 
    margin-left: 700px;
    margin-right: 700px;
    margin-bottom: 200px;
}
.button-order:hover{
    background-color: #188CE8;
    color: var(--color-white);
    cursor: pointer;
}

.text-order{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white);
}

.feature{
    padding-top: 94px;
}
.work,
.team{
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature,
.our-works,
.our-time{
    display: flex;
    justify-content: space-around;
}


.title-feature{
display: none;
padding-bottom: 0;
}

/* особенности о нас*/
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-dark);
    padding-bottom: 0;
    margin-bottom: 50px;
}

.about-us-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--font-dark);
    padding-bottom: 0;
}
.text-about-us {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--font-middle);
}

.team{
    background-color: var(--font-light);
    padding-top: 94px;
    padding-bottom: 94px;
}

.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-dark);
    padding-top: 30px;
    padding-bottom: 10px;
}
.position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-middle);
    padding-bottom: 30px;

}

.card{
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/*footer*/
.footer{
    background-color: var(--main-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.studio-white{
    color: var(--color-white);
}
 .adress{
     margin-top: 20px;
 }
.footer-tel,
.footer-mail,
.footer-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    color: var(--color-white);

}

.footer-mail,
.footer-tel {
    color: rgba(255, 255, 255, 0.6); 
    margin-top: 9px;
}

.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}
.title-our-works{
    display: none;
}
.buttons{
    padding-bottom: 34px;
    text-align: center;
    margin-right: 8px;
}

.filter{
    font-family: 'Roboto';
    background-color:var(--font-light);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-dark);
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.filters{

}
.filter{
    background-color: var(--font-light);
    color: var(--font-dark);
}

.filter:hover{
    background-color: var(--akcent-color);
    color: var(--color-white);
    cursor: pointer;
}

.filter:focus{
    background-color: var(--akcent-color);
    color: var(--color-white);
    cursor: pointer;
}

.projects{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.li-work-examples{
    border: 1px solid #EEEEEE;
    margin-bottom: 20px;
}

.title-work-examles{
    margin: 20px 24px;
}
.img-work{
    margin-bottom: 20px;
}

.work-examples{
    text-decoration: none;
    color: var(--font-dark);
    margin-bottom: 20px;
}

.work-ex-name  {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--font-dark);
}

.work-ex-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--font-middle);
}